# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 09810c5797f818b4e58b7993392e348986f09da38685b47512d202f0b0edc10ea47336979982b34897d51a0a511bd58ddb349b6c355a04dd1ccb75859372885f

test:
  secret_key_base: d84abcdcddfbec3c42188ec713b1088397e6d33fad2b5fb8b6a3d21c52d262105b0ca6eb095548c0ddfdd8a72b16f98c2eea0c355df11be25b333d871157b5e3

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
